.header {
    height: 100vh;
    background-image: url(../images/header-bg-mobile.png);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__bottom {
        padding-bottom: 40px;
        @include contentPaddingInline;
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-style: Bold;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0;
        vertical-align: middle;
    }
}

