
.menu {
    box-sizing: border-box;
    height: 100vh;
    background-color: #E5E6E8;

    &__top {
        margin-bottom: 32px;

        @include onTablet {
            margin-bottom: 56px;
        }
    }

    &__nav {
        margin-bottom: 40px;

        @include onTablet {
            margin-bottom: 48px;
        }
    }

    &__content {
        @include contentPaddingInline;
    }

    &__phone-number {
        display: block;
        color: inherit;
        text-decoration: none;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &__call-to-order {
        display: block;
        color: inherit;
        text-decoration: none;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-bottom: 7px;
        border-bottom: 1px solid $main-text-color;
        width: fit-content;
    }
}
