.page {
  font-family: "Space Grotesk", sans-serif;
  background: #292929;
  font-size: 16px;
  line-height: 140%;

  scroll-behavior: smooth;
}

.page__body {
    margin: 0;
}

.page__menu {
    position: fixed;
    inset: 0;

    opacity: 0;
    pointer-events: none;
}

.page__menu:target {
    opacity: 1;
    pointer-events: all;
}