.page {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: $main-text-color;
  scroll-behavior: smooth;

    &__body {
        margin: 0;
    }

    &__menu {
        position: fixed;
        inset: 0;
        opacity: 0;
        transition: opacity 0.4s;
        pointer-events: none;

        &:target {
            opacity: 1;
            pointer-events: all;
        }
    }
}
