body {
  margin: 0;
}

/* #region header */

.header {
  height: 100vh;
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;
}

/* #endregion */

/* #region icon */

.icon {

}
/* #endregion */

/* #region footer */
.footer {

}
/* #endregion */
